<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4">
    <h3>All Contacts</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let cont of allContacts" (click)="onSelect(cont)"><a>{{cont.firstName}} {{cont.lastName}}</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8">
    <h3>Contact Details</h3>
    <button class="sampleClass">Click</button>
    <div class="col-xs-6">
      <ul>
        <li>First Name:</li>
        <li>Last Name:</li>
        <li>Contact:</li>
        <li>Address:</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <ul>
        <li>{{selectContact.firstName}}</li>
        <li>{{selectContact.lastName}}</li>
        <li>{{selectContact.contact}}</li>
        <li>{{selectContact.address}}</li>
      </ul>
    </div>
  </div>
  <div id="g-signin2"></div>
</div>
